* {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .sign-canvas {
    top: 30% !important;
    height: 20%;
    border-radius: 20px;
}

.signin {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
} */

.acesse {
    font-weight: 300;
}

.qrcode {
    font-weight: 700;
}

.offcanvas-body div {
    margin-top: 30px;
}

.machine-learning {
    width: 60%;
}

.startup {
    width: 60%;
}

.lock {
    width: 30px;
    height: 35px;
}

main {  
    background-color: #F8D210;
}

main div:first-of-type {
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 768px) {
    main div div div div h2 {
        margin-top: 100px;
    }

    main div div div div{
        margin-bottom: 20px;
    }

    main div div div div{
        margin-bottom: 20px;
    }

    .mobile-card {
        width: 80% !important;
    }
    .mobile {
        margin-top: -100px;
    }

    .flex-md-equal > * {
               
    }
}

@media only screen and (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}



#banner {
    background: url("./img/banner.svg") no-repeat center;
    background-size: 30%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#banner-texto {
   text-align: center;
   width: 35rem;
   text-align: right;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-size: 40px;
}

#banner-texto:nth-child(2){
    text-align: left;
}

#banner div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.display-5 {
    font-weight: 700!important;
}

.lead {
    font-weight: 700!important;
}